.App {
  width: 100%;
  margin-right: 0 !important;
  margin-bottom: 0 !important;
  color: white;
}

.redirect{
  text-decoration: none;
  color: lightblue;
}
.redirect:hover{
  color: aqua;
}
.redirect:active{
  color: white;
}